body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .body-one, .footer {
    background-color: #1F2937;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links, .body-one .body-split-one p {
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.footer {
    color: #E5E7EB;
}