body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .body-one, .body-two, .body-three, .body-four {
    display: flex;
}

.body-one, .body-two {
    padding: 25px 100px 100px 100px;
}

.header, .body-one, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links, .body-one .body-split-one p {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

button {
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.body-one {
    justify-content: space-between;
    align-items: center;
}

.body-one .body-split-one {
    flex: 3;
}

.body-split-two {
    flex: 4;
    align-self: center;
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
    padding: 100px 50px;
}

.body-two {
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.placeholder {
    width: 200px;
    height: 200px;
    outline: 2px solid #3882F6;
    border-radius: 25px;
}

.body-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.body-three p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.body-three h3 {
    align-self: flex-end;
}

.body-four {
    justify-content: space-between;
    margin: 100px;
    padding: 50px 50px;
    border-radius: 10px;
}

button, .body-four{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    justify-self: center;
    height: 50px;
    width: auto;
}

.body-four button {
    outline: 2px solid #F9FAF8;
}

.body-four .body-split-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 25px;
    line-height: 0;
}